* h1 h2 h3 h4 h5 h6{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
section{
    /* border: 1px solid black; */
    padding-top: 4rem;
}

.navbar{
    width:100%;
    background-image: linear-gradient(to left, rgb(255, 137, 94), rgb(253, 122, 74) ) ;
    color: #fff;
    z-index: 2;
    /* height: 100px !important; */
}
/* .navbar-collapse{ */
    /* border: 1px solid black;
    width: fit-content !important;
    justify-content: left; */
    /* float: left; */
/* } */
.navbar-brand{
    font-size: 26px;
    padding: 0px 0px 10px 0px;
}
.navbar-nav li a{
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    padding: 0 10px !important;
   
    color: rgb(207, 205, 205) !important;
}
.navbar-nav li a.active {
    color: rgb(252, 252, 252) !important;
}
.navbar-toggler span, #navbarText{
    color: #fff;
}
.navbar-nav li a:hover{
    color: aqua !important;
}
nav button{
    margin-right: 20px;
}
nav button a{
    text-decoration: none;
    color: white;
}
nav button a:hover{
    color: white;
}
.nav-item{
    /* height: 30px; */
    padding: 0px 0px 10px 0px;
    /* border: 1px solid black; */
}
.innerUl{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;

    background-color: #520eb9 ;
    position: absolute;
    list-style: none;
    /* top: 10px; */
    display: none;
    /* border: 1px solid black; */
}
.innerUl li a{
    /* padding: 0px 20px; */
    margin-right: 20px;
    
    /* border: 1px solid black; */
    /* color: #520eb9; */
    font-size: 16px !important;
    /* list-style: none; */
    text-decoration: none;
    list-style: none;
}
.nav-item:hover .innerUl{
    display: block;
} 

._banner {
    background-image: url("./1.jpg");
    filter: blur();
    position: relative;
    height: 25rem;
    top: 50%;

}

._banner::after {
    content: '';
    position: absolute;
    /* background-color: #000000a8; */
    inset: 0;
}
._content {
    padding-left: 3rem;
    border: 1px solid;
}

._content h1,
._content h2,
._content h3 {
    color: #fff;
    position: relative;
    z-index: 999;
}

/* ._content{
    /* filter: blur(0px) !important; */
    /* color: black;
} */
/* ._content h2{
   font-size: 1.5rem;
   letter-spacing: 1px;
} */
/* ._content  h3{
    font-size: 3rem;
    text-transform: uppercase;
}
._content  h1{
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 4rem;
} */ */
.books{
    /* border: 1px solid; */
    margin: 50px 0px  ;
}
.books h1 {
    color: #7952b3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;

    font-size: 2.5rem;
}
.books__section .book{
    margin: 20px 0px;
    padding-bottom: 10px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px gray;
}
.books__section .book>img{
    padding: 10px 0px;
    display: flex;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 80%;
    height: 12rem;
}
.book .content{

    padding-left: 10px;
    margin-top: 10px;
}
.book .content> h4{

    padding-left: 10px;
    border-left: 4px solid orangered;
}
.book .content> p{
    color: rgb(116, 116, 116);
}
.book .content .view__book{
    border: none;
    background-color: orangered;
    /* border: 1px solid; */
    padding: 3px 30px;
    box-shadow: 0px 0px 5px orangered;
    border-radius: 10px;
    /* float: right; */
    color: white;
}
.footer_links li a{
    text-transform: capitalize;
}
p.detail{
    text-align: left;
    padding-right: 10px;

}


._modal{
    display: none;   
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    animation-name: modalOpen;
    animation-duration: 0.5s;
    background-color: rgba(0,0,0,0.5);
}
._modal_content{
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 70%;
    /* padding: 20px; */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),  0 7px 20px 0 rgba(0,0,0,0.17);
}
._modal_header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    background-color: coral;
    color: white;
    /* border: 1px solid black; */
}

._modal_body{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
._modal_body .image{
    /* border: 1px solid; */
    width: 30%;
    
}
._modal_body ._table {
    font-size: 1rem;
    width: 65%;
    /* border: 1px solid; */
}
._modal_body ._table tr td{
    padding-left: 10px;
    /* width:10%; */

}

._modal_body .image img{
    width: 100%;
}
._modal_footer{
    padding: 10px 20px;
    background-color: coral;
}
._modal_footer p{
    text-align: right;
}
._closeBtn{
    /* display: block; */
    /* float: right; */
    color: #ccc;
    font-size: 30px;
}
._closeBtn:hover ,._closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;

}
.footer_section{
    background-color: rgb(0, 0, 0);
}
.section_1 ,.section_2, .section_3{
    margin: 50px 0px;
}
.section_1>h3 ,.section_2>h3, .section_3>h3{
    color: rgb(168, 167, 167);
    text-transform: capitalize;
    font-size: 1.8rem;
    padding-left: 10px;
    border-left: 3px solid rgb(168, 167, 167);

}

.section_1>p{
    font-size: 1.2rem;
    color: white;
}
.section_2>ul{
    padding-left: 0px;
    list-style: none;

}

.section_2>ul li a{
    font-weight: 600px;
    /* border: 1px solid black; */
    color: rgb(201, 197, 197);
    text-decoration: none;
}
.section_2>ul li a:hover{
    color: rgb(119, 115, 115);
}


/* login */
.login ._flex{
    display: flex;
    height: 100vh;
    
}
.login  .section-1, .login  .section-2{
    /* border:1px solid black; */
    width: 50%;
    justify-items: center;
    align-items: center;    
}
.login  .section-2{
background: linear-gradient(to right,  rgb(235, 57, 57), rgb(247, 145, 145));
}
.login  .section-2 .loginInner h3{
    color: white;
}
.login  .section-2 .loginInner p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
.login  .section-2 .loginInner a{
    color: white;
    margin-top: 100px;
    margin-left: 50px   ;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}
.loginInner h3 {
    color: 000;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    /* display: flex; */
}
.loginInner {
    width: 70%;
    display: block;
    margin: 10rem auto;
}

.registrationInner {
    width: 70%;
    display: block;
    margin: 2rem auto;
}

.registrationInner h3 {
    font-size: 2.4rem;

}
.loginInner form input[type="submit"] {
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 0px;
    border: none;
    margin-top: 10px;
    color: white;
    background-color: black;
}
.loginInner form .form-group input {
    margin-bottom: 10px;
    font-size: 1.3rem;
    background-color: rgb(245, 241, 241);
}
.loginInner form .form-group label {
    font-size: 1.3rem;
}
.regLink{
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;
    display: none;
}
.regLink p a{
    color: white;
}
@keyframes modalOpen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {
    nav button{
        margin-left: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    nav button{
        margin-left: 20px;
    }
    .login  .section-1{
        width: 100%;
        background: linear-gradient(to right,  rgb(235, 57, 57), rgb(247, 145, 145));
        /* background-color: rgb(255, 77, 77); */

    }
    .login  .section-2{
        display: none;
    }
    .regLink{
        display: block;
    }
  }