*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
    /* background: linear-gradient(to right ,  #7952b3, #b197d8); */
}

/* Header */

.bg-color{
    background-color: #5961f9ad;
}
.navbar-brand{
    font-size: 25px !important ;
    padding-left: 20px;
}
.btn-outline-white{
    color: black !important ;
    border:  1px solid white !important ;
}


/* Footer */
.footer{

    padding: 0px;
    background-color: rgba(202, 200, 200, 0.486);
}
.footer p{
    padding: 5px 0px;
    color: rgb(109, 101, 101);
    text-align: center;
    margin: 0px;
    font-size: larger;
}

/* Side Navbar */
.s{
    height: 100vh;
    width: 320px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

